<h1>Ticket Due Date Reminder</h1>
<p>Hello <%= @user.name %>,</p>
<p>This is a reminder that your ticket "<%= @ticket.title %>" is due on <%= @ticket.due_date %>.</p>
<p> With the following description "<%= @ticket.description %>"</p>
